/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Positioning Classes */

.my-wrapper {
  width: 100%;
  overflow: hidden;
  border: 2px solid magenta;
  height: 100%;

}

.featured-col {
  float: left;
  width: 65%;

}

.archive {
  float: right;
  margin-left: 2%;
  width: 33%;
  height: 584.95px;
}

/*.first-shoe {
  float: left;
  margin: 0.5%;
  width: 25%;
  height: 345px;
  clear: right;
}

.middle-shoe {
  float: left;

  width: 25%;
  margin: 0.5%;
  height: 345px;
}

.last-shoe {
  float: left;

  width: 25%;
  margin: 0.5%;
  height: 345px;
}*/

.shoe-col {
  float: left;
  width: 25%;





}
